ul.shiv{
    list-style:none;
    width:100%;
}
ul.shiv>li{
    width:25%;
    display:block;
    float:left;
    padding:10px 0px;
    text-align:left;
    
}
.footerss {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin-left: 0px;
	background: none repeat scroll 0% 0% rgb(0, 0, 0);
	line-height: 1.1;
	position: absolute;
	width: 100%;
	max-width: 1366px;
	min-width: 1330px;
	top: 1332px;
}
